body {
  background-color: #fdfaf2;
  font-family: Georgia;
  color:darkred
}

header {
  overflow: hidden;
  margin: 5px;
  background-color: #e5f1ee;
  border: 4px solid #83492a;
  font-family: Georgia;7
  border-radius: 30px 10px 30px 10px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3.link {
  text-align: center;
}

a:visited {
  color: blue;
}

table.stappen {
  margin: 3px;
  border: 1px solid #83492a;
  border-collapse: collapse;
}

table.stappen tr {
  margin: 3px;
  border: 1px solid #83492a;
}
table.stappen td {
  margin: 3px;
  border: 1px solid #83492a;
}
table.stappen th {
  margin: 3px;
  border: 1px solid #83492a;
}

h2.link {
  text-align: center;
  border: 4px solid #f9c89a;
  border-radius: 10px 20px 10px 20px;
}

p {
  margin: 10px;
}
